@use "../base/variables" as *;

* {
  box-sizing: border-box;
  margin: 0;
}
.add-item-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 20px;
  padding: 25px;

  .add-item-input {
    width: 100%;
    background-color: $secondary-bg-color;
    color: $secondary-text-color;
    margin: 5px 25px;
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid $secondary-bg-color;

    FontAwesomeIcon {
      margin: 50px;
    }
  }
}
