@use "../base/variables" as *;

.main-container {
  width: 767px;
  height: min-content;
  background-color: $primary-bg-color;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.35);
}
