// COLORS
$primary-color: #ff5964;

$primary-text-color: #fff;
$secondary-text-color: rgb(138,167,243);

$primary-bg-color: rgb(52,80,161);
$secondary-bg-color: rgb(4,25,85);
$tertiary-bg-color: rgb(151,180,255);

$button-color: rgb(100,22,145);

$primary-light-color: #fff;
$primary-dark-color: #000;

// FONTS
$ff-primary: 'Roboto', sans-serif;
$ff-secondary: 'Poppins', sans-serif;